
@font-face {
  font-family: IRANYekan;
  src: url(fonts/Vazir.woff);
  /* url(fonts/iran_2.woff2),
  url(fonts/iran_3.woff2),
  url(fonts/iran_4.woff2), */
}


* {
    box-sizing: border-box;
    font-family: IRANYekan;
    font-size: 15px;
}


html {
  min-width: 1024px;
  font-family: IRANYekan;
    font-size: 15px;
    direction: rtl;
    scroll-behavior: smooth;
}
@media (max-width: 599.99px)
{
  html {
    min-width: auto;
  }
}

body {   
 margin: 0;
 color: #515151;
 background: #f5f5f5;
 position: relative;
   
 font-family: IRANYekan;
 font-weight: 400;
 font-size: 15px;
 direction: rtl;
 scroll-behavior: smooth;

  }
  
  main {
    margin-top: 51px;
  }
  /*web*/
@media (max-width: 599.99px){
  main {
    margin-top: 0;
  }
}
  
/********************backdrop***********/
  .backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
/*********************header***********/
 
  .main-header{
    top: 0;
    right: 0;
    background: #ffffff;
    
    
        
  }
  .main-header__up{
    position: fixed;
    width: 100%;
    background-color:white;
    display: flex;
    animation-duration: .5s;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,.04);
    z-index: 10;
    height: 106px;
    right: 0;
    
  }

    /* .main-header__up__brand__link{
      color: #fff;
      height: 30px;
      display: block;
      text-align: right;
      text-indent: -1000em;
      background: url(image/logoMAHDEL.png) no-repeat 50%;
      background-size: contain;
      -webkit-transition: background-position .3s cubic-bezier(.17,.67,.49,.93);
      transition: background-position .3s cubic-bezier(.17,.67,.49,.93);
  
    } */
    
  
  .main-header__up__brand img {
    vertical-align: middle;
    height: 40px;
    padding: 0 26px 0 36px;
  }
  .main-header__up__part1{
    display: flex;
    align-items: center;
    margin-top: 0;
    top: 0;
    width: 50%;
  
    
  }
  .main-header__search img{
    height: 30px;
    vertical-align: middle;
  }
.main-header__search{
  border-radius: 8px;
  background-color: #f0f0f1;
  padding: 6px 8px 6px 10px;
  min-width: 65%;
  max-width: 60%;
  position: relative;
  height: 45px;

    
}
.main-header__search-input{
   color: #474747;
   border: none;
   background-color: #f0f0f1;
   font-size: 12px;
  
  

}
.main-header__up__part2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-header__up__part2-acount{
  width: 160px;
}
.main-header__up__part2-basket{
display: flex;
padding-left: 12px;
 
}
.main-header__up__part2-basket::before{
  content: "";
    height: 22px;
    background: #e0e0e2;
    width: 1px;
    align-self: center;
}
.main-header__up__part2-basket::after{
  content:  "";
    height: 52px;
    width: 57px;
    background: url(image/basket.png);
    background-size: 109% 93%;
    cursor: pointer;
  
}
.main-header__up__part2-btn{
    padding: 10px 14px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #716f6f;
    text-decoration: none;
    flex-shrink: 0;
    flex-basis: 40%;
    font-size: 12px;
}
.main-header__up__part2-btn:before{
    content:  "\0000a0";
    display: inline-block;
    width: 13%;
    line-height: 22px;
    position: relative;
    left: 11px;
    background: url(image/acount.png);
    background-size: 100% 100%;
    /* filter: brightness(2.5); */
}
.main-header__down{
  padding: 2px;
  width: 100%;
  display: flex;
}
.main-header__down-part1{
  width: 75%;
}
 .main-nav__items {
 direction: rtl;
  margin-top: 116px;
 list-style: none;
 display: flex;
 padding-right: 0;
      }


 .main-nav__item-frs {
  width: 15%;
 position: relative;
 display: flex;
    align-items: center;
    font-weight: 700;
    padding: 7px 8px 8px;
    cursor: default;
    
  }
  .main-nav__item-frs a {
    text-decoration: none;
    font-size: 12px;
    color: #616161;
  }
.bold{
  font-weight: 700;
}
  .main-nav__item-frs:before{
    content:  "\0000a0";
    display: inline-block;
    width: 13%;
    background: url(image/category.png);
    background-size: 100% 100%;
    margin-left: 4px;
    color: #424750;
}
.main-nav__item-frs-a:after {
    content: "";
    height: 24px;
    bottom: 6px;
    position: absolute;
    background: #e0e0e2;
    width: 1px;
    right: 116px;
    
}

.main-nav__item a{
  display: block;
    padding: 7px 12px 8px;
    color: #616161;
    text-decoration: none;
    font-size: 13px;

}
.main-nav__item{
}


.main-header__down-part2-location{
  margin-top: 116px;
  line-height: 30px;
}

.main-header__down-part2-location img{
  vertical-align: middle;
  
}

/*
.mobile-nav{
  display: none;
  position: fixed;
  z-index: 101;
  top: o;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}
  
.mobile-nav-items{
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav-item{
  margin: 1rem 0;
}
.mobile-nav-item a{
  font-size: 1.5rem;
}
*/


/* @media (max-width: 599.99px){

} */

/*web*/
@media (min-width: 599.99px){
  .mobile-header{
    display: none;
  }
}
.mobile-header{
  
}


.mobile-header-up{
  display: flex;
  height: 53px;
  justify-content: space-between;
  /* background-color: white; */
  padding: 10px 0;
  border-bottom: 1px solid #e5e5ea;
  padding-left: 8px;
  padding-right: 8px;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: rgb(129, 129, 129);
  display: block;
  margin: 0.6rem 0;
}
.mobile-header__brand img {
  width: 93px;
  height: 40px;
}
.mobile-header__question-mark img{
  width: 40px;
  height: 100%;
}
.mobile-header-middle{
  display: flex;
  height: 53px;
  justify-content: space-between;
  /* background-color: white; */
  padding: 10px 0;
  padding-left: 8px;
  padding-right: 8px;
}
.mobile-header__search{
  padding-right: 53px;
border-radius: 8px;
background-color: white;
padding: 6px 8px 6px 10px;
min-width: 72%;
max-width: 60%;
/* position: relative; */
height: 37px;
border: 1px solid #d6d6d6;
}
.mobile-header__search-img{
  height: 25px;
  vertical-align: middle;
  position: relative;
}
.mobile-header__search-span{
  position: relative;
}
.mobile-header__search-span::after{
  content: "";
  position: absolute;
  background: #e0e0e2;
  width: 1px;
  height: 24px;
  
}

.mobile-header__search-input{
 color: #474747;
 border: none;
 background-color: white;
 font-size: 12px;
 /* position: relative; */
 margin-right: 8px;
 width: 80%;
}
.shopping-cart img{
  width: 30px;
}
.user img{
  width: 30px;
}
.mobile-header__down{
  background-color: #929292;
  color: white;
  padding: 8px 12px 8px 5px;
  justify-content: space-between;
  margin-top: 10px;

}

.mobile-header__down-location{
  line-height: 30px;

}

.mobile-header__down-location img{
  width: 30px;
  vertical-align: middle;
}
.arrow img{
  width: 15px;
  margin-right: 28px;
}

 
/********************amazing-suggestions__part***********/
.amazing-suggestions{
  display: flex;
  background: #ef394e;
  margin-top: -41px;
  height: 520px;
}
.amazing-suggestions__div{
  display: flex;

  }
  .amazing-suggestions__part{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 34px; 
  }
  .amazing-suggestions__part-link{
    text-decoration: none;
  }
  

.amazing-suggestions__part-btn{
  padding: 9px 16px;
  line-height: 1.571;
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
}
.amazing-suggestions__part-btn::after{
  content:  ">";
    margin-right: 15px;
    
}

.amazing-suggestions__part img{
  width: 100%;
  
}
  .amazing-suggestions__Items{
    display: flex;
    /* overflow-x: auto; */
    padding: 20px;
    width: 100%;
    position: relative;

  }
  /* .amazing-suggestions__Item-visible{
    background: white;
    margin: 0.5rem;
    margin-right: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
     display: inline-block;
     vertical-align: middle;
     min-width: 11rem;
     height: 466px;
  }
  .amazing-suggestions__Item__img-visible{
    width: calc(100% - 54px);
    height: 250px;
    object-fit: contain;
    }
    .amazing-suggestions__Item__name-visible{
    font-size:1rem;
    color: #686868;
     }
    .amazing-suggestions__Item__percent-visible{
    background-color: #fb3449;
    color: white;
    border-radius: 20px;
    float: left;
    padding: 3px;
    width: 52px;
    
    }
    .amazing-suggestions__Item__exprice-visible{
      color: #ccc;
      text-align: left;
     text-decoration: line-through solid #ccc;
     margin-top: 21px;
    
   }
    .amazing-suggestions__Item__price-visible{
    color: black;
    font-size: 1.5rem;
    float: left;
    margin-top:0.25rem ;
    } */
    .progress-bar{
      width: 100%;
      background-color: rgb(226, 226, 226);
      height: 4px;
      position: relative;
      top: 51px;
      border-radius: 100px
    }
    .progress-bar-value{
      background-image: linear-gradient(90deg,#ff5b79,#fb3449);
      border-radius: 100px;
      position: absolute;
      left: 0;
      width: 111px;
      height: 100%;
    }
   
    
    .amazing-suggestions__right-btn{
    /* transform: translateY(calc(-50% - 25px));
    color: #a8a8a8;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 8px 0 0 8px;
    width: 49px;
    height: 90px;
    transform: translateY(-110%);
    background-color: #fff;
    top: 50%;
    margin-top: -6px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    padding-top: 31px; */
   
}
.amazing-suggestions__right-btn::after{
  background: url(image/amazing-suggestions/rightFlash.png); 
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 90px;
    width: 49px;
    background-size: 100% 100%;
    filter: opacity(0.5);
    position: absolute;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px 0 0 5px;
    top: 43%;
    right: 26px;
}
.amazing-suggestions__left-btn::after{
  background: url(image/amazing-suggestions/leftFlash.png);
  content: "\0000a0";
  display: inline-block;
  height: 90px;
  width: 49px;
  background-size: 100% 100%;
  position: absolute;
  top: 43%;
  left: 26px;
  box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 0 5px 5px 0
}

/* .amazing-suggestions__left-btn{
  padding-left: 42px;
    margin-right: 1156px;
  transform: translateY(calc(-50% - 25px));
  color: #a8a8a8;
  box-shadow: 0 -0.5px 0 1px rgba(0,0,0,.15);
  border-radius: 0 8px 8px 0;
  width: 49px;
  height: 90px;
  background-color: #fff;
  top: 22%;
  margin-top: 189px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
} */

    

    /* @media (min-width:320px)
    { */
      /* .amazing-suggestions__div,
      .amazing-suggestions,
      .cellphone-section,
      .laptop-section,
      .discounts-section,
      .cover-section{
        width: 100%;
        height: 100%;
        text-align: center;
      } */
   
      .amazing-suggestions__Item{
        background: white;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        padding: 17px;
        text-align: center;
        width: 100%;
       }
   
      .amazing-suggestions__Item__img{
        min-width: 100%;
        max-width: 100%;
        height: 253px;
        object-fit: contain;
      }
      .amazing-suggestions__Item__name-div{
        height: 60px;
      }
      .amazing-suggestions__Item__name{
      font-size:13px;
      color: #686868;
       }
      .amazing-suggestions__Item__percent{
        float: left;
    background-color: #fb3449;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    padding: 4px 6px 1px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 8px;
    min-width: 43px;
    height: 23px;
      
      }
      .amazing-suggestions__Item__exprice{
        color: #acacac;
        text-align: left;
        text-decoration: line-through solid #ccc;
        margin-top:6px;
        font-size: 16px;
     }
      .amazing-suggestions__Item__price{
      color: black;
      font-size: 16px;
      float: left;
      }
      #progress-bar{
      direction: ltr;
      color: #fff!important;
      background-color: #f44336!important;
      }
      
    /*mobile responsive for amazing-suggestions section*/
@media (max-width: 599.99px){
  .amazing-suggestions__right-btn,
  .amazing-suggestions__left-btn{
    display: none;
  }
  .amazing-suggestions{
    overflow-x: auto;
    margin: 0;
    /* padding: 10px 5px 10px 0; */
    
  }
  .amazing-suggestions__part-btn{
    border: none;
    font-size: 12px;
    float: right;
    padding-right: 0;
  }
  .amazing-suggestions__part{
    margin-right: 17px;
    width: 140px;
  }
  .amazing-suggestions__Item{
    width:  52.5vw;
  }
  .amazing-suggestions__Item__img{
    min-width: 100%;
    max-width: 100%;
    height: 217px;
    object-fit: contain;
  }
 
 

}

/*responsive-footer*/

 /*****web*******/


.responsive-footer__aside{
  border-bottom: 1px solid #e5e5ea;
  padding: 15px ;
  display: none;
  height: 150px;
  margin: 0 5px 0 5px;
  justify-content: center;

  /* display: flex;
  justify-content: center;
  display: none; */
}
.responsive-footer__links{
  position: relative;
  text-align: center;
}
.responsive-footer__links__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  
}
.responsive-footer__links__container a{
  text-decoration: none;
}
.responsive-footer__links__container h1{
  font-size: 11px;
  line-height: 2.2;
  letter-spacing: .2px;
  color: #656464;
}

/* .responsive-footer__links__container>a {
    width: 56%;
    flex: 0 0 33%;
    display: block;
} */
.responsive-footer__img{
  width: 97px;
  height: 70px;
  object-fit: contain;
}

/* .responsive-footer__link-img{
  height: 100px;
} */

@media (max-width: 599.99px){
  .responsive-footer__aside{
    display: flex;
}
}




/**************cellphone section*******************/

.cellphone-section{
  display: flex;
  margin: 15px 5px 0 5px;
}
.right-cellphone-container{
  min-width: 73%;
  max-width: 73%;
  margin-right: 11px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  position: relative;
}
.cellphone-part{
  /* background-color: white; */
  margin: 1rem;
  width: auto;
  border-radius: 5px;
  display: block; 
  
}
.cellphone-part__name{
  display: flex;
  position: relative;
z-index:5;
padding-right: 15px;
}
.moment-suggestion__title{
  display: flex;
  position: relative;
z-index:5;
}
.moment-suggestion__title{
  justify-content: center;
  height: 57px;
}
.moment-suggestion__title div{
  font-size: 15px;
    color: #474747;
    margin: 19px 13px;
    position: relative;
    font-weight: 500;
}
.cellphone-part__name{
  margin: 10px 15px 0 0;
}
.cellphone-part__name-div{
  color: #474747;
}
.cellphone-part__name-div span{
  font-size: 20px;
}

.cellphone-part__name-div>span::before{
  content: "";
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 130px;
  background-color: #ef5661;
  height: 1px;
}
/* .cellphone-part__name-div>span::after{
  content: "";
  position: absolute;
  left: -45px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  z-index: 1;
} */


.cellphone-part__name-div:after{
  content: "";
    position: absolute;
    background-color: #dfdfdf;
    height: 1px;
    margin: 44px 41px 0 0;
    width: 75%;
}
.moment-suggestion__title::after{
  content: "";
  position: absolute;
  width: 87%;
  height: 1px;
    bottom: 0;
    right: 15px;
    left: 0;
    background-color: #dfdfdf;
    content: "";
    z-index: 0;
}
.cellphone-part__title-div{
  color: #6b5353;
  width: 200px;
}
.moment-suggestion,
.right-cellphone-container{
  background: white;
  border-radius: 5px;
}

.cellphone-items{
  display: flex;
  text-align: center;
}

.moment-suggestion__div{
  justify-content: center;
}
.cellphone-items__list{
  width: 25%;
  padding: 14px;
  margin: 15px 5px 10px 5px;
  cursor: pointer;

  
}
.cellphone-right-items__list{
  margin-right: 29px;
}
.cellphone-items__list:hover,
.cellphone-items__list:active{
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0,0,0,.1); 
  transform: translateY(-2px);
  transition-duration: 0.25s;
}



.cellphone-items__lists,
.moment-suggestion__lists{
  text-decoration: none;
}


.cellphone-items__img{
  min-width: 100%;
  max-width: 100%;
  height: 253px;
  object-fit: cover;
}
.moment-suggestion__img
{
  min-width: 100%;
  max-width: 100%;
  height: 253px;
  object-fit: contain;
}
.cellphone-items__name{
  font-size: 12px;
  color: #686868;
  height: 31px;
}
.cellphone-items__price{
  font-size: 15px;
  display: flex;
  color: #000;
  font-weight: 700;
  float: left;
}
.cellphone-items__price__currency{
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-right: 5px;
}
.moment-suggestion__name{
  font-size: 12px;
  color: #686868;
  height: 31px;
  margin-right: 50px;
}

.moment-suggestion__price{
  font-size: 15px;
  display: flex;
  color: #000;
  font-weight: 700;
  float: left;
}
.moment-suggestion-price{
  margin-left: 24px;
}

.moment-suggestion{
  margin-right: 15px;
    width: 30%;
    border: 1px solid rgba(0,191,214,.3);
    margin-left: 11px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

/***/
.cellphone-section__right-btn::after{
  background: url(image/amazing-suggestions/rightFlash.png); 
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 90px;
    width: 49px;
    background-size: 100% 100%;
    filter: opacity(0.5);
    position: absolute;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px 0 0 5px;
    top: 43%;
    right: 0;
}
.cellphone-section__left-btn::after{
  background: url(image/amazing-suggestions/leftFlash.png);
  content: "\0000a0";
  display: inline-block;
  height: 90px;
  width: 49px;
  background-size: 100% 100%;
  position: absolute;
  top: 43%;
  left: 0;
  box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
  
    border-radius: 0 5px 5px 0
}
/***/
/*mobile responsive for cellphone section*/
@media (max-width: 599.99px){
  .cellphone-section__right-btn,
  .cellphone-section__left-btn,
  .cellphone-part__name-div>span::before,
  .cellphone-part__name-div:after,
  .moment-suggestion{
    display: none;
  }
  .cellphone-section{
    border-bottom: 1px solid #e5e5ea;
    padding-bottom: 17px;

  }
  .cellphone-items{
    overflow-x: auto;
    margin: 0;
    /* padding: 10px 5px 10px 0; */
    width: 132%;
  }
  
  .cellphone-items__list{
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    min-width: 52.5vw;
    margin: 5px 5px 10px 5px;
  }
  .right-cellphone-container{
    box-shadow: none;
    background: none;
    
    
  }
  .cellphone-right-items__list{
    margin-right: 0;
  }
  .cellphone-items__img{
    min-width: 100%;
    max-width: 100%;
    height: 217px;
    object-fit: contain;
  }
  .cellphone-part__name{
    padding-right:  0;
    margin-right: 0;
  }
  

}

/**************diffrent-categories*******************/

.diffrent-categories__section{
  background-color: white;
  margin: 20px 15px 0;
  border-radius: 5px;
  display: block;
  width: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  padding: 24px;
}
.diffrent-categories__name{
    text-align: center;
    color: #656565;
    margin-bottom: 24px;
    font-size: 19px;
    line-height: 1.158;
    opacity: .72;
}

.diffrent-categories__items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.diffrent-categories__items__list{
  cursor: pointer;
  width:11%;
  padding: 0 5px 24px;
}
.diffrent-categories__items__lists{
  text-decoration: none;
}
.diffrent-categories__items__img{
  height: 34%;
  width: 34%;
}
.diffrent-categories__items__name{
    color: #161616;
    height: 46px
}
.diffrent-categories__items__name h1{
  font-size: 12px;
  line-height: 1.833;
  color: #2a2a2a;
  margin-top: 8px;
  text-align: center;
}
.diffrent-categories__items__count{
  color: #00bfd6;
  position: relative;
  font-size: 12px;
}
.diffrent-categories__items__count::before{
    content: "+";
    display: inline-block;
    line-height: 1.85;
    margin-left: 3px;
    padding-top: 2px;
}
/*mobile responsive for diffrent-categories section*/
@media (max-width: 599.99px){
  .diffrent-categories__section{
    display: none;
  }
}
/*******************cover************************/

.cover-section{
  background-color: white;
  margin: 20px 15px;
    border-radius: 5px;
  width: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.cover-section__part{
  position: relative;
}
.cover-part_title{
  padding: 5px 23px 0 0;
}

.cover-part__name{
  padding: 30px;
  position: relative;
  
}
.cover-part__name div{
  font-size: 20px;
}

/**/
.cover-part__name-div::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 115px;
  background-color: #ef5661;
  height: 1px;
  top: 77px;
}
.cover-part__name-div:after{
  content: "";
  position: absolute;
  background-color: #cecccc;
  height: 1px;
    margin: 15px 131px 0 0;
    width: 80%;
}
/**/

.cover-items{
  display: flex;
  text-align: center;
}

.cover-items__lists{
  text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin: 0px 5px 21px 5px;
    padding: 10px;
    height: 100%;
}

.cover-right-items__lists{
  margin-right: 30px;
}
.cover-items__img{
  min-width: 50%;
  max-width: 75%;
  height: 222px;
}
.cover-items__name__div{
  height: 20%;
}
.cover-items__name{
  font-size: 12px;
    color: #686868;
    height: 55px;
}

.cover-items__price{
  font-size: 15px;
  display: flex;
  color: #000;
  font-weight: 700;
  float: left;
}
.cover-items__price__currency{
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-right: 5px;
}

.cover-items__price__non-percent{
  margin-top: 31px;
}

.cover__Item__percent{
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    font-weight: 700;
    padding-top: 2px;
    background-color: #fb3449;
    color: #fff;
    border-radius: 16px;
    margin-right: 4px;
    width: 36px;
    text-align: center;
    float: left;
  
}
.cover__Item__exprice{
  color:#ababab ;
  text-align: left;
  text-decoration: line-through solid #ababab;
  margin: 18px 0 0 41px;
  font-size: 13px;
  
}

.cover-items__lists:hover,
.cover-items__lists:active{
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0,0,0,.1); 
  transform: translateY(-2px);
  transition-duration: 0.25s;
}

/*arow**/
.cover-section__right-btn::after{
  background: url(image/amazing-suggestions/rightFlash.png); 
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 90px;
    width: 49px;
    background-size: 100% 100%;
    filter: opacity(0.5);
    position: absolute;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px 0 0 5px;
    top: 43%;
    right: 0;
}
.cover-section__left-btn::after{
  background: url(image/amazing-suggestions/leftFlash.png);
  content: "\0000a0";
  display: inline-block;
  height: 90px;
  width: 49px;
  background-size: 100% 100%;
  position: absolute;
  top: 43%;
  left: 0;
  box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
  
    border-radius: 0 5px 5px 0
}
/***/
/*mobile responsive for cover section*/
@media (max-width: 599.99px){
  .cover-section__right-btn,
  .cover-section__left-btn,
  .cover-part__name-div::before,
  .cover-part__name-div:after{
    display: none;
  }
  .cover-items{
    overflow-x: auto;
    margin: 0;
    /* padding: 10px 5px 10px 0; */
  }
  .cover-part{
    background: none;
  }
  .cover-items__lists{
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    min-width: 52.5vw;
  }
  .cover-section{
    box-shadow: none;
    background: none;
  }
  .cover-right-items__lists{
    margin-right: 0;
  }
  .cover-items__img{
    min-width: 100%;
    max-width: 100%;
    height: 217px;
    object-fit: contain;
  }
  .cover-part__name{
    padding: 30px 0 5px 0;
  }

}
/**************************execories-section***************************/
.execories-section{
  display: flex;
  justify-content: center;
  margin: 20px 15px 0px 15px;
}
.execories-right{
  margin-left: 15px;
  cursor: pointer;
}
.execories-left{
  cursor: pointer;
}
.execories-section img{
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 599.99px){
  .execories-section{
  display: none;
  }
  .execories-left{
    display: none;
  }
  }
/************************laptop************************/
.laptop-section{
  background-color: white;
  margin: 20px 15px 0 15px;
  border-radius: 5px;
  width: auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.laptop-part__name{
  position: relative;
 }

.laptop-part__title{
  /* display: flex; */
  margin-right: 30px;
  padding-top: 20px;
}
.laptop-part__name div{
  color: #474747;
  font-size: 20px;
}

/**/
.laptop-part__name-div::before {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 0;
  width: 170px;
  background-color: #ef5661;
  height: 1px;
  top: 47px;
}
.laptop-part__name-div:after{
  content: "";
  position: absolute;
  background-color: #cecccc;
  height: 1px;
    margin: 15px 191px 0 0;
    width: 78%;
}
/**/

.laptop-items{
  display: flex;
  text-align: center;
}
.laptop-items__list{
  align-items: center;
    margin: 9px;
    cursor: pointer;
    padding: 12px 15px 31px;
    position: relative;
    width: 30%;
}
.laptop-right-items__list{
  margin-right: 32px;
}
.laptop-items__lists{
  text-decoration: none;
}


.laptop-items__img{
  min-width: 100%;
    max-width: 100%;
    height: 160px;
    object-fit: contain;
}
.laptop-items__name{
  color: #686868;
  height: 55px;
}
.laptop-items__name h1{
  font-size: 12px;
}

.laptop-items__price{
  font-size: 15px;
    display: flex;
    color: #000;
    font-weight: 700;
    float: left;
    margin-top: 5px;
}
.laptop-items__price-nonpercent{
  display: flex;
  color: #000;
    font-weight: 700;
  font-size: 15px;
  float: left;
  margin-top:38px ;

}
.laptop-items__price__currency{
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-right: 5px;
}


.laptop__Item__percent{
  font-size: 14px;
    line-height: 1.571;
    font-weight: 700;
    padding-top: 2px;
    background-color: #fb3449;
    color: #fff;
    border-radius: 16px;
    margin-right: 4px;
    width: 36px;
    text-align: center;
    float: left;
  
}
.laptop__Item__exprice{
  color: #ababab;
  text-align: left;
  text-decoration: line-through solid #ababab;
  margin: 7px 0 0 41px;
  font-size: 13px;
  
}
.laptop-items__list:hover,
.laptop-items__list:active{
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0,0,0,.1); 
  transform: translateY(-2px);
  transition-duration: 0.25s;
}

/*arow**/
.laptop-section__right-btn::after{
  background: url(image/amazing-suggestions/rightFlash.png); 
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 90px;
    width: 49px;
    background-size: 100% 100%;
    filter: opacity(0.5);
    position: absolute;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px 0 0 5px;
    top: 43%;
    right: 0;
}
.laptop-section__left-btn::after{
  background: url(image/amazing-suggestions/leftFlash.png);
  content: "\0000a0";
  display: inline-block;
  height: 90px;
  width: 49px;
  background-size: 100% 100%;
  position: absolute;
  top: 43%;
  left: 0;
  box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
  
    border-radius: 0 5px 5px 0
}
/***/
/*mobile responsive for laptop section*/
@media (max-width: 599.99px){
  .laptop-section__right-btn,
  .laptop-section__left-btn,
  .laptop-part__name-div::before,
  .laptop-part__name-div:after{
    display: none;
  }
  .laptop-items{
    overflow-x: auto;
    margin: 0;
    /* padding: 10px 5px 10px 0; */
  }
  .laptop-part{
    background: none;
  }
  .laptop-items__list{
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    min-width: 52.5vw;
  }
  .laptop-section{
    box-shadow: none;
    background: none;
  }
  .laptop-right-items__list{
    margin-right: 0;
  }
  .laptop__Item__img{
    min-width: 100%;
    max-width: 100%;
    height: 217px;
    object-fit: contain;
  }
  .laptop-part__title{
    margin-right: 0;
  }

}

/*****************discounts*********************/
.discounts-section{
  display: flex;
  flex-direction: row;
  margin: 20px 15px 0 15px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.discounts-part{
  background-color: white;
  display: block;
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.discounts-part__title{
  margin-right: 30px;
    padding-top: 20px;
    position: relative;
}

.discounts-part__name{
  position: relative;
}
.discounts-part__name-div{
  color: #474747;
  font-size: 20px;
  position: relative;
}

/**/
.discounts-part__name-div::before {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 0;
  width: 270px;
  background-color: #ef5661;
  height: 1px;
  top: 47px;
}
.discounts-part__name-div:after{
  content: "";
  position: absolute;
  background-color: #cecccc;
  height: 1px;
  margin: 47px 27px 0 0;
  width: 68%;
}
/**/


.discounts-part__name2{
  padding: 1rem;
  float: left;
  text-decoration: none;
  cursor: pointer;
  margin-top: -67px;
  margin-left: 52px;
  font-size: 18px;
    line-height: 1.89;
    color: #a8a8a8;
}


.discounts-items{
  width: 100%;
  display: flex;
  text-align: center;
  margin: 0px 36px 0 0px;
  padding: 2px 0;

  
}
.discounts-items__list{
  cursor: pointer;
  width: 24%;
  padding: 13px 15px 0px 14px;
    margin: 0 5px 15px 5px;
   
}
.discounts-right-items__list{
  /* margin-right: 24px; */
}
.discounts-items__list:hover,
.discounts-items__list:active{
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0,0,0,.1); 
  transform: translateY(-2px);
  transition-duration: 0.25s;
}

.discounts-items__lists{
  text-decoration: none;
  
}


.discounts-items__img{
  min-width: 100%;
    max-width: 100%;
    height: 160px;
    object-fit: contain;
}
.discounts-items__name{
  color: #686868;
  height: 30px;
}
.discounts-items__button{
 font-size: 18px;
 width: 60px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 4px;
 color: #fff;
 background-color: #ef394e;
 border: none;
}
.discounts-items__button:hover{
  background: #885555;
}
.discounts-part__box-prices{
  display: flex;
}
.discounts-items-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 52px;
    margin: 39px 36px 0 0;
}
.discounts-items__price{
  font-size: 15px;
  display: flex;
  color: #000;
  font-weight: 700;
  float: left;
  margin-top: 5px;
  margin-left: 30px;
}

.discounts__Item__percent{
  float: left;
  font-size: 14px;
    line-height: 1.571;
    font-weight: 700;
    padding-top: 2px;
    background-color: #fb3449;
    color: #fff;
    border-radius: 16px;
    margin-right: 4px;
    width: 36px;
    text-align: center;
    margin-top: -37px;
}
.discounts__Item__exprice{
  color: #ccc;
  text-decoration: line-through solid #ccc;
  margin: -17px 0px 0 10px;
  font-size: 13px;
    color: #ababab;
    display: flex;
    width: 100%;
  
}
.discounts-items__price__currency{
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-right: 5px;
}


/*arow**/
.discounts-section__right-btn::after{
  background: url(image/amazing-suggestions/rightFlash.png); 
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 90px;
    width: 49px;
    background-size: 100% 100%;
    filter: opacity(0.5);
    position: absolute;
    box-shadow: -1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px 0 0 5px;
    top: 43%;
    right: 0;
}
.discounts-section__left-btn::after{
  background: url(image/amazing-suggestions/leftFlash.png);
  content: "\0000a0";
  display: inline-block;
  height: 90px;
  width: 49px;
  background-size: 100% 100%;
  position: absolute;
  top: 43%;
  left: 0;
  box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
  
    border-radius: 0 5px 5px 0
}
/***/
/*mobile responsive for discount section*/
@media (max-width: 599.99px){
  .discounts-section__right-btn,
  .discounts-section__left-btn,
  .discounts-part__name-div::before,
  .discounts-part__name-div:after,
  .discounts-part__name2{
    display: none;
  }
  .discounts-items{
    overflow-x: auto;
    margin: 0;
  }
  .discounts-part{
    background: none;
  }
  .discounts-items__list{
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    text-decoration: none;
    min-width: 52.5vw;
  }
  .discounts-section{
    box-shadow: none;
  }
  .discounts__Item__img{
    min-width: 100%;
    max-width: 100%;
    height: 217px;
    object-fit: contain;
  }
  .discounts-items__button{
    min-width: 40px;
    height: 50px;
  }
  .discounts-items-prices{
    margin: 37px 16px 0 0;
  }
  .discounts-part__title{
    margin-right: 0;
  }

}

/**************footer*******************/


.scroll-up{
  margin-top: 54px;
}
.scroll-up hr{
  width: 90%;
  border-top: #9E9E9E;
}
.scroll-up-part{
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.scroll-up-part__title{
  vertical-align: middle;
  font-size: 24px;
}
.scroll-up-part__button{
  background: #adadad;
    color: white;
    font: inherit;
    border-radius: 27px;
    cursor: pointer;
    height: 50%;
    margin: 13px;
    padding: 20px;
    padding-bottom: 32px;
    tab-size: px;
    border: #b7b2b2;
}

.main-footer {
  
  background: #ececec;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-footer__link {
  margin: 0.5rem 1rem;
  text-align: center;

}
.main-footer__link img{
}

.main-footer__link a {
  color: #666666;
  text-decoration: none;
  justify-content: center;
  
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}


.main-footer__part2{
  display: flex;
}
.main-footer__part2-right{
  display: flex;
  width: 50%;
  justify-content: center;
}
.main-footer__part2__links{
  width: calc(33.3333% - 2px);
}
.main-footer__part2__links a{
  text-decoration: none;
    cursor: pointer;
    color: #009688;
    font-size: 14px;
}
.main-footer__part2__links ul{
  margin-top: -31px;
  list-style-type: none;
  padding: 0;
}
.main-footer__part2__links h1{
  font-size: 16px;
}
.main-footer__part2-left{
  width: 50%;
  justify-content: center;
}
.main-footer__part2-left__email{
  display: flex;
}
.main-footer__part2-left__input{
  border-radius: 0 8px 8px 0;
  background: #fff;
  border: 1px solid #c8c8c8;
  color: #717171;
  /* font-size: 21px; */
  line-height: 1.571;
  padding: 19px 21px;
  width: 491px;
}

 .main-footer__part2-left__btn{
  /* font-size: 21px; */
  background-color: #58967e;
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 11px 24px;
  color: white;
 }

.main-footer__part2-left__socialmedia__icons{
  display: flex;
  text-decoration: none;
}
.main-footer__part2-left__socialmedia__icons a{
  margin-left: 32px;

}
.main-footer__part2-left__socialmedia__icons img{
  width: 44px;
  opacity: 0.5;

}
.main-footer__part2-left__socialmedia__icons img:hover,
.main-footer__part2-left__socialmedia__icons img:active{
  width: 44px;
  opacity: 1.5;
}
@media (max-width: 599.99px){

}
.mobile-footer{
  /* padding-left: 8px;
  padding-right: 8px; */
}
.mobile-footer-up{
  border-top: 1px solid #e5e5ea;
  text-align: center;
}
.mobile-footer-up p{
  display: flex;
justify-content: center;
}

.mobile-footer__links img{
  width: 120px;
}
.mobile-footer__middle{
  padding: 0px 8px 0 14px;
}



.mobile-footer__middle-span{
  position: relative;
}
.mobile-footer__middle-span::after{
  content: "";
  height: 40px;
  width: 40px;
  background: url(image/mobileFooter/email.png);
  background-size: 99% 93%;
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  right: 18px;
}

.mobile-footer__middle__input{
  padding-right: 59px;
  border-radius: 9px;
  background-color: #f0f0f0;
  border-color: #e5e5ea;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 15px;
  line-height: 1.467;
  margin-right: 5px;
  width: 100%;
}
.mobile-footer__middle-btn{
  border-radius: 9px;
  box-shadow: 0 2px 6px 0 rgba(0,191,214,.5);
  font-size: 18px;
  font-size: 1.286rem;
  line-height: 1.222;
  letter-spacing: -.6px;
  color: #fff;
  background-color: #00bfd6;
  padding: 14px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-right: 5px;
}
.mobile-footer__down{
  background-color: white;
}
.mobile-footer__down-btn{
  justify-content: center;
  width: 72%;
    margin-right: 15px;
}
.mobile-footer__down-btn img{
  width: 25px;
  margin: 8px;
  height: 25px;
}

.mobile-footer__down-btn a{
  display: flex;
  height: 57px;
  background-image: linear-gradient(265deg,#4e60d3,#913baf 35%,#d52d88 68%,#f26d4f);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
 
}
.mobile-footer-down__links{
  padding: 15px 0 25px;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  list-style: none;
}
.mobile-footer-down__links li{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 23px;
  margin-top: 15px;
}

.mobile-footer-down__links a{
  color: #9b9b9b;
  text-decoration: none;
}






/*
 @media (min-width: 40rem) {
        .toggle-button {
          display: none;
        }
        .main-nav {
            display: flex;
          }
        }        
        
 @media (min-width: 40rem) {
          .main-footer__link {
            margin: 0 1rem;
          }
        
          .main-footer__links {
            flex-direction: row;
            justify-content: center;

          }
        }
 */ 
 
/* $web: "(min-width: 1280px)";
$tablet: "(min-width: 600px) and (max-width: 1279.99px)";
$mobile: "(max-width: 599.99px)" */

/****************mobile responsive for all section********************/
@media (max-width: 599.99px){
  .main-header,
  .main-footer,
  .scroll-up{
    display: none;
  }
}
@media (min-width: 599.99px){
  .mobile-footer {
    display: none;
  }
}

/* tablet */ 
 @media (min-width: 600px) and (max-width: 1279.99px){
  .mobile-footer__middle-form{
    display: flex;
    justify-content: center;
    padding-right: 80px;
  }
  .mobile-footer__links,
  .mobile-footer__down-p{
  display: flex;
  justify-content: center;
}
.mobile-footer__middle-p{
  display: flex;
  justify-content: center;
}
.mobile-footer__down-btn{
  display: flex;
  justify-content: center;
}
.mobile-footer__down-btn a
{
  width: 252px;
}
 }
